<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="new-form">
			<h1 class="new-title">Add a new civilization</h1>
	
			<form class="ui form inline" action="/civilizations" method="POST">
				<div class="form-group">
					<label>Name</label>
					<input name="name" placeholder="name" type="text">
				</div>
				<div class="form-group">
					<label>Image</label>
					<input name="image" placeholder="image url" type="text">
				</div>
				<div class="form-group">
			    	<label>Description</label>
					<textarea name="description" placeholder="add a description"></textarea>
				</div>
				<button class="ui reverse green button">Submit</button>
			</form>
				<a class="ui reverse yellow button" href="/civilizations">Go back</a>
		</div>		
	</div>
</div>

<% include ../partials/footer %>